{% extends 'layout.html' %}
{% block title %}{{galldata[2]}}{% endblock %}
{% block content %}
<div>
    <h1 class="title">{{galldata[2]}}(G)</h1>
    <h1 class="is-size-4">매니저: {{galldata[4][0]}}</h1>
    <h1>겔러리 생성일: {{ galldata[1] }}</h1>
    <hr>
    <a href="/post/article/{{galldata[3]}}">글 쓰기</a>
    {% if articlelist %}
        <table class="table">
            <thead>
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tfoot>
                {% for list in articlelist %}
                <tr>
                    <td><a href="/article/{{galldata[3]}}/{{list[1]}}">{{ list[2] }}</a></td>
                    <td>{{ list[4] }}</td>
                    <td>{{ list[5] }}</td>
                </tr>
                {% endfor %}
            </tfoot>
        </table>
    {% else %}
    <h1>이 겔러리에는 게시글이 없습니다.</h1>
    {% endif %}
</div>
{% endblock %}