main, footer {
    margin: 1%;
    display: flex;
    justify-content: center;
}

:root {
    --bulma-yangjae: #1C1F8A;
}

.navbar {
    background-color: var(--bulma-yangjae);
}

article {
    display: flex;
    justify-content: center;
}