<!DOCTYPE html>
<html lang="en" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css" integrity="sha512-+oEiKVGJRHutsibRYkkTIfjI0kspDtgJtkIlyPCNTCFCdhy+nSe25nvrCw7UpHPwNbdmNw9AkgGA+ptQxcjPug==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/nprogress.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body hx-boost="true">
        <header>
            {% include 'navbar.html' %}
        </header>
        <hr>
        <main>
            {% block content %}{% endblock %}
        </main>
        <hr>
        <footer>
            <a href="/">양재 인사이드</a><span> | 양재고등학교</span>
            <p>Using htmx, jquery, bulma, nprogress</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="{{ url_for('static',filename='script.js') }}"></script>
    </body>
</html>