<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        {% include 'navbar.html' %}
        <hr>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <hr>
    <footer>
        <h1>푸터</h1>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</body>
</html>