<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item has-text-white is-size-3" href="/"><strong>양재</strong></a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a href="/galllist" class="navbar-item is-size-4 has-text-white"><strong>겔러리 리스트</strong></a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                {% if session.username %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-white"><strong>{{ session.username }}</strong></a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">프로필</a>
                        <a class="navbar-item">설정</a>
                        <hr class="navbar-divider">
                        <a href="/logout" class="navbar-item">로그아웃</a>
                    </div>
                </div>
                {% else %}
                <div class="buttons">
                    <a class="button is-light" href="/login">
                        로그인
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>